.options {
    background-color: var(--control-background);
    display: none;
    max-height: 500px;
    position: fixed;
    z-index: 10;
    overflow: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    &.options-open {
        display: block;
    }

    .option {
        padding: 5px;
        cursor: pointer;
        &:hover {
            background-color: lightgray;
        }
    }
}

.selected-option {
    cursor: pointer;
    background-color: var(--control-background);
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
