.options {
    background-color: var(--control-background);
    display: none;
    &.options-open {
        display: block;
    }

    .option {
        padding: 5px;
        cursor: pointer;
        &:hover {
            background-color: lightgray;
        }
    }
}

.selected-option {
    cursor: pointer;
    background-color: var(--control-background);
    padding: 5px;
}
