:host{
    background-color: var(--control-background);
    display: block;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
}

.tile{
    height: calc(100% - 16px);
    padding: 8px;

    .tile-title{
        font-size: 12px;
        white-space: nowrap;
        margin-bottom: 3px;
        background-color: #333;
        color: white;
        border: none;
        border-radius: 5px;
    }
}