:host{
    background-color: var(--control-background);
    display: block;
    margin: 5px;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
}

.tile{
    height: calc(100% - 16px);
    padding: 8px;

    button.tile-title{
        font-size: 12px;
        white-space: nowrap;
        margin-bottom: 10px;
        background-color: transparent;
        color: var(--color);
        border: none;
        border-radius: 5px;
    }
}