<div *ngIf="device">
    <app-switch-list-item *ngIf="device.capabilityLookup.Switch && !device.capabilityLookup.Light" [device]="device"></app-switch-list-item>
    <app-light-list-item *ngIf="device.capabilityLookup.Light" [device]="device"></app-light-list-item>
    <app-sensor-list-item *ngIf="device.capabilityLookup.Sensor" [device]="device"></app-sensor-list-item>
    <app-thermostat-list-item *ngIf="device.capabilityLookup.Thermostat && !device.capabilityLookup.Sensor" [device]="device"></app-thermostat-list-item>
</div>