<div *ngIf="device">
    <app-switch-list-item *ngIf="device.capabilities.switch && !device.capabilities.light" [device]="device"></app-switch-list-item>
    <app-light-list-item *ngIf="device.capabilities.light" [device]="device"></app-light-list-item>
    <app-sensor-list-item *ngIf="device.capabilities.sensor" [device]="device"></app-sensor-list-item>
    <app-thermostat-list-item *ngIf="device.capabilities.thermostat && !device.capabilities.sensor" [device]="device"></app-thermostat-list-item>
</div>