:host{
    height: 100%;
    display: block;
    user-select: none;
}

.page-wrapper{
    height: 100%;
}


.grid-wrapper{
    position: relative;
}

.grid{
    height: 100%;
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    
    &.grid-tiles.edit-mode{
        pointer-events: none;
    } 
}

.tile{
    border: solid 1px lightgray;
    &:hover{
        background-color: lightgray;
    }
}

.menu-mask {
    background-color: #000;
    opacity: .3;
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 101;
    &.show{
        display: block;
    }
}

.editor{
    z-index: 102;
    position: fixed;
    width: 100%;
    max-width: 450px;
    @media screen and (max-width: 600px){
        max-width: 80%;
    }
    right: 0px;
    height: 100%;
    background-color: var(--menu-background);
    transition: right .2s;
    display: flex;
    flex-direction: column;

    &.closed{
        right: -450px;
    }

    button {
        padding: 16px;
    }
}

.device-list{
    background-color: white;
}

.step-editor{
    display: flex;
    flex-direction: row;

    button{
        height: 1rem;
    }
}