<div class="page-wrapper" fxLayout="column">
    <div fxLayout="row">
        <button routerLink="..">Back</button>
        <div fxFlex="1 0" class="dashboard-title">{{dashboard.name}}</div>
        <button (click)="settings = true">Edit</button>
    </div>
    <div fxFlex="1 0" class="grid-wrapper">
        <div class="grid grid-template"
            [ngStyle]="{'grid-template-columns': 'repeat(' + dashboard.width + ', minmax(0, 1fr))', 'grid-template-rows': 'repeat(' + dashboard.height + ', minmax(0, 1fr))'}"
            #grideditor>
            <ng-container *ngIf="editorMode">
                <div class="tile" *ngFor="let tile of gridCells" h-events [hId]="tile.row + ':' + tile.column" (hDragStart)="dragStart($event, tile)"
                    (hDragEnter)="dragEnter($event, tile)" (hDragEnd)="dragEnd($event, tile)" [style.gridRow]="tile.row"
                    [style.gridColumn]="tile.column" [attr.data-tile-row]="tile.row"
                    [attr.data-tile-column]="tile.column">
                    {{tile.row}}:{{tile.column}}</div>
            </ng-container>
            <app-tile *ngFor="let tile of tiles" [config]="tile" (activated)="activateTile(tile)"></app-tile>
        </div>
    </div>
    <div class="editor" [ngClass]="{closed: !activeTile}">
        <input #tiletitle [value]="activeTile?.name" (input)="activeTile.name = $event.target['value']"
            placeholder="Title">

        <div>
            <app-drop-list label="Select Device" [items]="devices$ | async" [selectedItem]="selectedDevice"
                (changed)="selectDevice($event)">
                <ng-template #itemTemplate let-item>
                    {{item?.label}}
                </ng-template>
            </app-drop-list>
        </div>
        <div *ngIf="selectedDevice">
            <!-- <input placeholder="Capability" (focus)="setCapabilityListVisible(true)"
                (blur)="setCapabilityListVisible(false)" [value]="selectedCapability">
            <div *ngIf="capabilityListVisible">
                <div *ngFor="let capability of selectedDevice.capabilities" (mousedown)="selectCapability(capability)"
                    class="device-list">{{capability}}</div>
            </div> -->

            <app-drop-list label="Select Capability" [items]="selectedDevice.capabilities">
                <ng-template #itemTemplate let-item>
                    {{item}}
                </ng-template>
            </app-drop-list>

        </div>
        <button (click)="closePane()">Done</button>
        <button (click)="deleteTile(activeTile)">Delete</button>

    </div>
    <div class="menu-mask" [ngClass]="{show: settings}" (click)="settings = false">

    </div>

    <div class="editor" [ngClass]="{closed: !settings}">
        <input #dashboardname [value]="dashboard.name" placeholder="Dashboard Name" (input)="dashboard.name = $event.target['value']">
        <div class="step-editor">
            <button (click)="changeWidth(-1)">-</button>
            <div>{{dashboard.width}}</div>
            <button (click)="changeWidth(1)">+</button>
        </div>
        <div class="step-editor">
            <button (click)="changeHeight(-1)">-</button>
            <div>{{dashboard.height}}</div>
            <button (click)="changeHeight(1)">+</button>
        </div>
        <button (click)="toggleEdit()">Edit</button>
        <button (click)="settings = false">Done</button>
    </div>
</div>