:host{
    height: 100%;
    display: block;
}

.page-wrapper{
    height: 100%;
}


.grid-wrapper{
    position: relative;
}

.grid{
    height: 100%;
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    
    &.grid-tiles.edit-mode{
        pointer-events: none;
    } 
}

.tile{
    border: solid 1px lightgray;
    &:hover{
        background-color: lightgray;
    }
}

.editor{
    position: fixed;
    width: 100%;
    max-width: 450px;
    right: 0px;
    height: 100%;
    background-color: blue;
    transition: right .2s;
    display: flex;
    flex-direction: column;

    &.closed{
        right: -450px;
    }

    button {
        padding: 16px;
    }
}

.device-list{
    background-color: white;
}