/* You can add global styles to this file, and also import other style files */

:root{
    --background-color: #222;
    --color: #efefef;
    --control-background: #333;
    --button-background: #444;
    --page-title-font-size: 1.4em;
    --section-title-font-size: 1.2em;
    --title-font-size: 1.2em;
    --font-size: 14px;
    --border-radius: 3px;
    --menu-background: var(--background-color);

    --box-shadow: 0 0 5px black;
}

html, body, app-root{
    margin: 0px;
    height: 100%;
    width: 100%;
    color: var(--color);
    background-color: var(--background-color);
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: var(--font-size);
}

app-root{
    display: block;
}

button {
    background-color: var(--button-background);
    border-radius: var(--border-radius);
    color: var(--color);
    border: solid 1px var(--background-color);
    height: 2em;
    line-height: 0px;
    cursor: pointer;
}

.title {
    font-size: var(--title-font-size);
    font-weight: 600;
}