/* You can add global styles to this file, and also import other style files */

:root{
    --background-color: #222;
    --color: #efefef;
    --control-background: #333;
    --button-background: #444;
    --menu-background: var(--background-color);
}

html, body, app-root{
    margin: 0px;
    height: 100%;
    width: 100%;
    color: var(--color);
    background-color: var(--background-color);
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

app-root{
    display: block;
}

button {
    background-color: var(--button-background);
    border-radius: 3px;
    color: var(--color);
    border: solid 1px var(--background-color);
    height: 2em;
    line-height: 0px;
}
