<div class="header">
    <button routerLink="..">Back</button>
    <input *ngIf="mode == 'Edit'" #dashboardname [value]="name" placeholder="Room Name"
        (input)="name = $event.target['value']">
    <span class="title" *ngIf="mode == 'Display'">{{name}}
    </span><button *ngIf="mode == 'Edit'" (click)="save()">Save Room</button><button
        (click)="mode = (mode == 'Edit' ? 'Display' : 'Edit')">Edit
        Room</button>
</div>
<div *ngIf="mode == 'Display'">
    <div>
        <button (click)="toggleAll()">Turn all lights {{(someOn$ | async) ? 'off' : 'on'}}</button>
    </div>
    <div *ngIf="(selectedDevices | isLight).length" class="device-list">
        <div class="title">Lights</div>
        <div *ngFor="let device of selectedDevices | isLight">
            <app-device-list-item [device]="device"></app-device-list-item>
        </div>
    </div>
    <div *ngIf="(selectedDevices | isSensor).length" class="device-list">
        <div class="title">Sensors</div>
        <div *ngFor="let device of selectedDevices | isSensor">
            <app-device-list-item [device]="device"></app-device-list-item>
        </div>
    </div>
    <div *ngIf="(selectedDevices | isSwitch).length" class="device-list">
        <div class="title">Switches</div>
        <div *ngFor="let device of selectedDevices | isSwitch">
            <app-device-list-item [device]="device"></app-device-list-item>
        </div>
    </div>
</div>
<div *ngIf="mode == 'Edit'">
    <app-select-list [items]="devices$ | async" [template]="template" (onChange)="selectedUpdated($event)"
        [selected]="selectedDevices">
        <ng-template let-item="item" #template>
            {{item.name}}
        </ng-template>
    </app-select-list>
</div>