.indicator {
    margin-left: 3px;
}

.motion-indicator {
    height: 20px;
    width: 20px;
    background-color: #333;
    border-radius: 50%;
    border: solid 1px white;

    &.motion-active {
        background-color: green;
    }
}

.illuminance-indicator {
    height: 20px;
    width: 20px;
    background-color: #333;
    border-radius: 50%;
    border: solid 1px white;
    overflow: hidden;

    .illuminance-level {
        background-color: white;
        height: 100%;
        width: 100%;
    }
}

.tile-wrapper {
    position: relative;

    .indicators {
        position: absolute;
        top: 0px;
        right: 0px;
    }
}
