<div *ngIf="device" fxLayout="row" class="container">
    <div class="reading">{{device.attributes.temperature}}°F</div>
    <!-- <div>{{device.attributes.temperature}}/{{device.attributes.thermostatSetpoint}}°F</div>
        <div>{{device.attributes.humidity}}%</div> -->
    <div fxLayout="column">
        <div>{{device.attributes.thermostatSetpoint}}°F</div>
        <div>{{device.attributes.humidity}}%</div>
    </div>
    <!-- <div fxLayout="column">
        <button (click)="adjustTemperature(1)">Up</button>
        <button (click)="adjustTemperature(-1)">Down</button>
    </div> -->
</div>