.reading{
    font-size: 7vw;
    text-align: center;
    margin-right: 5px;
}

.container{
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.small-stats{
    margin-right: 5px;
}